*{
    
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #A0FAF5;
}



nav {
    position: relative;
    float: right;
    color: blue;
}    

li{
   display: inline;
   padding: 20px; 
}

h1{
    margin: 20px;
}

header{
    height: 100px;
    width: 100%;
    line-height: 70px;
    background-image:linear-gradient(#FAE587,#A0FAF5 );
}

img{
    height: 300px;
    width: 300px;
    display: block;
    margin: 50px auto;
}

.center{
    text-align: center;
}

.info{
    margin-bottom: 100px auto;
    display: block;
}

.right{
    text-align: right;
}
footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 200px;
    background-image:linear-gradient(#A0FAF5,#FAB9EE);
}

h4{
    font-size: 20px;
    color:black;
}